<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="key1" value="jeppe" />
		<add key="key2" value="rasmus" />
	</appSettings>
	<connectionStrings>
		<add name="connection1" connectionString="lalala"/>
		<add name="connection2" connectionString="hehe"/>
	</connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<add verb="*" path="*.json" type="LinqIt.Ajax.JSONHandler, LinqIt.Ajax" />
		</httpHandlers>
    </system.web>
	<system.webServer>
		<handlers>
			<add name="LinqItJsonHandler" verb="*" path="*.json" type="LinqIt.Ajax.JSONHandler, LinqIt.Ajax" />
		</handlers>
	</system.webServer>
</configuration>
